<launch>
  <arg name="hand_serial" default="1082"/>
  <include file="$(find sr_robot_launch)/launch/sr_right_ur10arm_hand.launch" >
    <arg name="hand_serial" value="$(arg hand_serial)"/>
  </include>
  <group ns="settings">
    <param name="simulation" type="bool" value="true" />
    <param name="initial_state_name" type="string" value="gazebo_initial_state" />
    <param name="pre_grasp_pose_name" type="string" value="open" />
    <param name="grasp_pose_name" type="string" value="fingers_pack_thumb_open" />
    <param name="arm_group_name" type="string"  value="right_arm"/>
    <param name="hand_alvar_marker_number" type="int" value="0" />
    <param name="object_alvar_marker_number" type="int" value="1" />
  </group>
</launch>
